@{
    ViewBag.Title = "Payroll";
}

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">@ViewBag.Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Payroll Data</a></li>
            <li><a href="#">Paycheck</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span2 offset1 text-left">
                    <dl>
                        <dt><small><i>Personel number</i></small></dt>
                        <dd>00010</dd>
                    </dl>
                </div>
                <div class="span6 text-left">
                    <dl>
                        <dt><small><i>Person name</i></small></dt>
                        <dd>Lucie Adamcová</dd>
                    </dl>
                </div>
                <div class="span2 text-right">
                    <dl>
                        <dt><small><i>Period</i></small></dt>
                        <dd>January 2013</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="span2 offset1 text-left">
                    <dl>
                        <dt><small><i>Department</i></small></dt>
                        <dd>Zumba class</dd>
                    </dl>
                </div>
                <div class="span6 text-left">
                    <dl>
                        <dt><small><i>Company</i></small></dt>
                        <dd>Holmes Place</dd>
                    </dl>
                </div>
                <div class="span2 text-right">
                    <dl>
                        <dt><small><i></i></small></dt>
                        <dd>Paycheck</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span5 offset1">
                    <div class="row">
                        <div class="span3 text-left">
                            <span class="badge badge-warning">+</span> Gross income
                        </div>
                        <div class="span2 text-right">50 000 CZK</div>
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        <div class="span3 text-left">
                            <span class="badge badge-warning">+</span> Net income
                        </div>
                        <div class="span2 text-right">30 000 CZK</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span10 offset1 text-center">Paycheck details by Mzdy Hravě - Online payroll agenda</div>
            </div>
        </div>
    </div>
    <p />
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span4 offset4 text-center">
                    <div class="btn-group">
                        <button class="btn btn-info">Back</button>
                        <button type="submit" class="btn btn-primary">Download PDF</button>
                        <button class="btn">Download XML</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
