@{
    ViewBag.Title = "Mzdy Hravě";
}

<div class="page-header">
    <h1>@ViewBag.Title <small>by Hravé Mzdy&reg;</small></h1>
    <p>We are here to make a payroll agenda now, simple and clear for everyone.</p>
</div>

<ul>
    <li>
        <a href="http://hravemzdy.eu" target="_blank">Hravé Mzdy project</a>
    </li>
    <li>
        @Html.ActionLink("Examples", "Index", "Payroll")
    </li>
    <li>Version 1.0.2
    </li>
</ul>
