@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

[class^="icon-"],[class*=" icon-"] {
    background-image: url("/Content/images/glyphicons-halflings.png");
}

.image-ikona
{
  width: 30px;
  height: 30px;
}

.navbar .nav > li > a.btn-text-white 
{
    color: white;
}

a.btn-text-white
{
    color: white;
}
